ion-page {
    position: relative;
    height: 100%;
  }
  
  ion-content {
    background-image: url('https://media.istockphoto.com/id/1178504966/vector/heaven-and-hell-landscape-with-signpost-vector-art.jpg?s=612x612&w=is&k=20&c=DjDDV2Vu5QgS1RL2J9YahDnKT8Xx_KK3vFYcG3zGF0g='); /* URL of the image */
    background-size: cover; /* Make the image cover the entire background */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat;
    height: 100vh; /* Make sure it takes full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-button {
    position: absolute;
    z-index: 1;
  }
  